@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  color: #1a1a1a;
}

/* Overwrite dark mode default styling */
input,
textarea {
  background-color: white;
}

body {
  font-family: "Space Grotesk", serif !important;
  background-color: #ffffff;
  overflow-x: hidden;
}

.footer-clip-path {
  clip-path: polygon(15% 34%, 100% 0%, 100% 100%, 0% 100%);
}

/* Events Page */
.monthly-event {
  background: radial-gradient(
      138.71% 110.11% at 93.15% -36.58%,
      #4255f933 25%,
      #0f1319 100%
    ),
    radial-gradient(61.66% 37.6% at 6.63% 95.08%, #4255f922 25%, #0f1319 100%),
    rgba(26, 26, 26, 0.43);
  box-shadow: 0px 0.5px 16px 0px rgba(200, 200, 255, 0.1);
  border: 1px solid #4255f911;
}

/* About Page */
.about-bg {
  background: radial-gradient(
      138.71% 110.11% at 93.15% -36.58%,
      #4255f988 25%,
      #0f1319 50%,
      #4255f901 100%
    ),
    radial-gradient(61.66% 37.6% at 6.63% 95.08%, #4255f988 25%, #0f1319 100%),
    #4255f988;
  box-shadow: 0px 0.5px 16px 0px rgba(200, 200, 255, 0.1);
  border: 1px solid #242424;
}




/* Landing Page */

.hero-btn:hover {
  /* Apply a full (all-around) shadow with #79C7FD */
  box-shadow: 0 0 16px 4px rgba(121, 199, 253, 0.7);
}

/* infinite carousel */

.scroller-list {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  /* Remove animation from here so it only applies when all images are loaded */
}

.scroller-list.animate-scroll {
  animation: scroll 24s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 16px));
  }
}

/* Discord PC */

.pc-stand {
  background: linear-gradient(
    180deg,
    rgba(64, 64, 64, 0.1) 0%,
    rgba(64, 64, 64, 0.2) 13.27%,
    rgba(64, 64, 64, 0.25) 27.21%,
    rgba(64, 64, 64, 0.48) 60.58%,
    rgba(64, 64, 64, 0.54) 76.36%,
    rgba(64, 64, 64, 0.45) 92.14%
  );
}

.pc-base {
  background: linear-gradient(
    90deg,
    rgba(64, 64, 64, 0.6) 0%,
    rgba(64, 64, 64, 0.3) 6.5%,
    rgba(64, 64, 64, 0.6) 19.18%,
    rgba(64, 64, 64, 0.3) 32.93%,
    rgba(64, 64, 64, 0.3) 66.46%,
    rgba(64, 64, 64, 0.6) 81%,
    rgba(64, 64, 64, 0.3) 94%,
    rgba(64, 64, 64, 0.6) 100%
  );
  box-shadow: 0px -7px 2px 0px rgba(0, 0, 0, 0.18);
}